body {
    background: black;
    font-family: sans-serif;
}

.game-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.elm-game {
    width: 500px;
}

.explainer {
    color: white;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    padding: 1rem;
    text-align: center;
}

.text-top-layer {
    color: #d6d6d6;
    margin-top: 2rem;
    width: 500px;
    font-family: sans-serif;
    font-size: 0.6rem;
    letter-spacing: 0.15rem;
    position: relative;
    max-width: 35rem;
    width: 100%;
    opacity: 1;
    border-bottom: 1px solid rgb(47, 47, 47);
}

h2 {
    font-size: 0.8rem;
    letter-spacing: 0.15rem;
    display: inline-block;
}