body {
    margin: 0px;
}
canvas {
    background: none;
    position: absolute;
}

div {
	background: none;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}