body {
    margin: 0px;
    font-family: 'Press Start 2P', cursive;
}
canvas {
	min-width: 392px;
	background: #141414;
}

div {
	background: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}