html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }
 
 body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
    font-family: sans-serif;
    background: white;
 }

 button {
    /* display: inline-block; */
    border: none;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
 }

 button:focus {
     outline: none;
 }

 button:active {
    outline: none;
}

 .darken {
     background: black;
     transition: 10s;
 }

.root-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#button-container {
    display: flex;
    opacity: 1;
    transition: opacity 0.8s ease-in;
    margin-top: -3rem;
    max-width: 26rem;
    width: 100%;
    justify-content: space-around;
    z-index: 100;
}

.loop-button, .switch-button, .play-button {
    border: none;
    margin-bottom: 0.7rem;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    z-index: 100;
}

.loop-button-container, .rotate-button-container, .play-button-container {
    display: flex;
    flex-direction: column;
}

.loop-button, .switch-button, .play-button {
    height: 4rem;
}

.switch-button img {
    width: 4rem;
}

#button-container label {
    font-size: 0.8rem;
    margin-bottom: 2rem;
    letter-spacing: 0.3rem;
    text-align: center; 
}

#game-board {
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.root-container .increase-spin {
    animation-duration: 40ms;
    transition: 30s;
}

.first-game {
    transform: rotate(0deg);
    transition: transform 2s;
}

.second-game {
    transform: rotate(90deg); 
    transition: transform 2s;
}

.third-game {
    transform: rotate(180deg);
    transition: transform 2s;
}

.fourth-game {
    transform: rotate(270deg);
    transition: transform 2s;
}

#information-container {
    position: relative;
    max-width: 410px;
    width: 100%;
    opacity: 1;
    transition: opacity 0.8s ease-in;
}

.text-container {
    width: 100%;
    position: absolute;
    display: none;
}

.text-top-layer {
    border-bottom: 1px solid #e6e6e6;
}

.text-container h2 {
    font-size: 0.8rem;
    letter-spacing: 0.15rem;
    display: inline-block;
}

.subtext-container p {
    display: inline-block;
    font-size: 0.8rem;
    letter-spacing: 0.15rem;
}

#button-container.flash, #information-container.flash {
    opacity: 0;
    transition: opacity 0.2s;
}

canvas {
	min-width: 392px;
	background: none;
}

.div {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#game-one, #game-two, #game-three, #game-four {
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: 0.5s;
}


#game-one-canvas, #game-one-canvas, #game-one-canvas {
    transition: left 3s;
}

#game-board .hide {
    opacity: 0;
}


#game-one-bricks.separate {
    left: 0;
    transition: left 2s;
}

#game-one-ball.separate {
    left: 500px;
    transition: left 2s;
}

#game-one-paddle.separate {
    left: 1000px;
    transition: left 2s;
}

#game-one {
	position: absolute;
    transform: rotate(0deg);
    z-index: 4;
    mix-blend-mode: normal;
    opacity: 0.75;
}

#game-two {
	position: absolute;
    transform: rotate(270deg);
    z-index: 3;
    mix-blend-mode: normal;
    opacity: 0.85;
}

#game-three {
	position: absolute;
    transform: rotate(180deg);
    z-index: 2;
    mix-blend-mode: normal;
    opacity: 0.75;
}

#game-four {
	position: absolute;
    transform: rotate(90deg);
    z-index: 1;
    mix-blend-mode: normal;
    opacity: 0.75;
}

a {
    color: initial;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.text-one-icon {
    height: 0.7rem;
    width: 0.7rem;
    background: #4557bf;
    margin-left: 0.4rem;;
}

.text-two-icon {
    height: 0.7rem;
    width: 0.7rem;
    background: #c14c98;
    margin-left: 0.4rem;;
}

.text-three-icon {
    height: 0.7rem;
    width: 0.7rem;
    background: #0aa76b;
    margin-left: 0.4rem;;
}

.text-four-icon {
    height: 0.7rem;
    width: 0.7rem;
    background: #d0bb0b;
    margin-left: 0.4rem;;
}

/* .text-one h2 {
    color: #4557bf;
}

.text-two h2 {
    color: #c14c98;
}

.text-three h2 {
    color: #0aa76b;
}

.text-four h2 {
    color: #d0bb0b;
} */

iframe {
    border: none;
}

.hide {
    display: none;
}

#game-board .top-game {
    z-index: 5;
    opacity: 1;
    transition: 2s;
}

.show-text {
    display: inherit;
}

.text-top-layer {
    display: flex;
    justify-content: space-between;
}

#separate-view-button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 0.7rem;
    color: black;
    font-weight: 100;
    letter-spacing: 0.1rem;
}

#fpsVanilla,#fpsVanillaNew, #fpsVanillaUpdate, #fpsFunctional, #fpsFunctionalNew, #fpsFunctionalUpdate, #fpsFunctionalUpdateBall {
    font-weight: 900;
}

.vanillaData {
    display: flex;
    flex-direction: column;
}

@media (max-width: 800px) { 
    #button-container {
        height: 20rem;
        align-items: center;
        justify-content: center;
    }
    .text-container h2 {
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
        font-weight: 600;
        display: inline-block;
    }
    .text-container a div {
        height: 1rem;
        width: 1.01rem;
        margin-left: 0.7rem;
    }
    #button-container label {
        font-size: 1.25rem;
    }
    .switch-button img {
        width: 7rem;
    }
    .root-container {
        height: 80vh;
        justify-content: space-around;
    }
    #game-board {
        margin-top: -5rem;
    }
}

@media (max-width: 600px) {
    #button-container {
        height: 10rem;
        align-items: center;
        justify-content: center;
    }
    .switch-button img {
        width: 6rem;
    } 
    .root-container {
        height: 98vh;
        justify-content: space-around;
    }
}