html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }
 
 body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
    font-family: sans-serif;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 button {
    /* display: inline-block; */
    border: none;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    background-color:transperant;
    outline:none;
 }

 button:focus {
     outline: none;
 }

 button:active {
    outline: none;
}

 .darken {
     background: black;
     transition: 10s;
 }

.root-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#description-text {
    max-width: 26rem;
    width: 100%;
    border-top: 1px solid #e6e6e6;
    text-align: left;
    opacity: 1;
    transition: opacity 0.8s ease-in;
    z-index: 100;
}

#description-text button {
    margin: 0.6rem 0;
    font-size: 0.8rem;
    font-weight: 100;
    letter-spacing: 0.05rem;
    padding: 0;
}

#description-text p {
    margin: 0.6rem 0;
    font-size: 0.8rem;
    font-weight: 100;
    letter-spacing: 0.05rem;
    color: #a2a2a2;
}

#description-text a {
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 100;
    letter-spacing: 0.05rem;
    color: #4c4c4c;
}

.loop-button, .switch-button, .play-button {
    border: none;
    margin-bottom: 0.7rem;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    z-index: 100;
}

.loop-description-text, .rotate-description-text, .play-description-text {
    display: flex;
    flex-direction: column;
}

.loop-button, .switch-button, .play-button {
    height: 4rem;
}

.switch-button img {
    width: 4rem;
}

#description-text label {
    font-size: 0.8rem;
    margin-bottom: 2rem;
    letter-spacing: 0.3rem;
    text-align: center; 
}

#game-board {
    height: 500px;
    width: 500px;
    margin: 2rem 0;
    background: none;
    position: relative;
}

.root-container .increase-spin {
    animation-duration: 40ms;
    transition: 30s;
}

.first-game {
    transform: rotate(0deg);
    transition: transform 2s;
}

.second-game {
    transform: rotate(90deg); 
    transition: transform 2s;
}

.third-game {
    transform: rotate(180deg);
    transition: transform 2s;
}

.fourth-game {
    transform: rotate(270deg);
    transition: transform 2s;
}

#information-container {
    position: relative;
    max-width: 410px;
    width: 100%;
    opacity: 1;
    transition: opacity 0.8s ease-in;
    height: 2.4rem;
}

.text-container {
    width: 100%;
    position: absolute;
    display: none;
}

.text-top-layer {
    border-bottom: 1px solid #e6e6e6;
}

.text-container h2 {
    font-size: 0.8rem;
    letter-spacing: 0.15rem;
    display: inline-block;
}

.subtext-container p {
    display: inline-block;
    font-size: 0.8rem;
    letter-spacing: 0.15rem;
}

#description-text.flash, #information-container.flash {
    opacity: 0;
    transition: opacity 0.2s;
}

canvas {
	min-width: 392px;
	background: none;
}

.div {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#game-one, #game-two, #game-three, #game-four {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: 0.5s;
    top: 0;
    left: 0;
}

#game-one-canvas, #game-one-canvas, #game-one-canvas {
    transition: left 3s;
}

#game-board .hide {
    opacity: 0;
}


#game-one-bricks.separate {
    left: 0;
    transition: left 2s;
}

#game-one-ball.separate {
    left: 500px;
    transition: left 2s;
}

#game-one-paddle.separate {
    left: 1000px;
    transition: left 2s;
}

#game-one {
    transform: rotate(0deg);
    z-index: 4;
    mix-blend-mode: normal;
    opacity: 0.75;
}

#game-two {
    transform: rotate(270deg);
    z-index: 3;
    mix-blend-mode: normal;
    opacity: 0.85;
}

#game-three {
    transform: rotate(180deg);
    z-index: 2;
    mix-blend-mode: normal;
    opacity: 0.75;
}

#game-four {
    transform: rotate(90deg);
    z-index: 1;
    mix-blend-mode: normal;
    opacity: 0.75;
}

a {
    color: initial;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.text-one-icon {
    height: 0.7rem;
    width: 0.7rem;
    background: #4557bf;
    margin-left: 0.4rem;;
}

.text-two-icon {
    height: 0.7rem;
    width: 0.7rem;
    background: #c14c98;
    margin-left: 0.4rem;;
}

.text-three-icon {
    height: 0.7rem;
    width: 0.7rem;
    background: #0aa76b;
    margin-left: 0.4rem;;
}

.text-four-icon {
    height: 0.7rem;
    width: 0.7rem;
    background: #d0bb0b;
    margin-left: 0.4rem;;
}

/* .text-one h2 {
    color: #4557bf;
}

.text-two h2 {
    color: #c14c98;
}

.text-three h2 {
    color: #0aa76b;
}

.text-four h2 {
    color: #d0bb0b;
} */

iframe {
    border: none;
}

.hide {
    display: none;
}

#game-board .top-game {
    z-index: 5;
    opacity: 1;
    transition: 2s;
}

.show-text {
    display: inherit;
}

.text-top-layer {
    display: flex;
    justify-content: space-between;
}

#separate-view-button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 0.7rem;
    color: black;
    font-weight: 100;
    letter-spacing: 0.1rem;
}

#fpsVanilla,#fpsVanillaNew, #fpsVanillaUpdate, #fpsFunctional, #fpsFunctionalNew, #fpsFunctionalUpdate, #fpsFunctionalUpdateBall {
    font-weight: 900;
}

.vanillaData {
    display: flex;
    flex-direction: column;
}

@media (max-width: 800px) { 
    .text-container h2 {
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
        font-weight: 600;
        display: inline-block;
    }
    #description-text p {
        font-size: 1.3rem;
    }
    #description-text a {
        font-size: 1.3rem;
    }
    #information-container {
        margin: 0.6rem 0;
    }
}

@media (max-width: 600px) {
    /* #description-text {
        height: 10rem;
        align-items: center;
        justify-content: center;
    }
    .switch-button img {
        width: 6rem;
    } 
    .root-container {
        height: 98vh;
        justify-content: space-around;
    } */
}